<div class="row-fluid">
    <div class = "span1"><span class="tweetimage"><img src="/static/images/gaurav.jpg"/></span></div>
    <div class="span9">
        <div class="tweet" id="tweetItem<%=id%>">
            <span class="tweetheader">@<%=username%></span>
            <span class="time"><%=timeDiff%></span>
            <div class="tweettext"><%=tweet%></div>
            <p><a class="btn" href="#">Reply &raquo;</a></p>
        </div>
    </div><!--/span-->
</div><!--/row-->